.container {
    display: flex;
        flex-direction: column;
        align-items: center;
    .main_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
