.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #151515;
  color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

  width: 440px;

  >h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
  }

  .close_button {
    position: absolute;
    color: white;
    font-size: 26px;
    padding: 0px;
    right: 15px;
    top: 0;
  }

  .input_container {
    width: 100%;
    margin-bottom: 20px;

    >p {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }

    >input {
        all: unset;
        padding: 5px;
        margin-top: 6px;

        width: calc(100% - 10px);

        background-color: rgba(213, 215, 218);

        border: 1px solid #D5D7DA0D;
        border-radius: 8px;
    }
  }

  .button_submit {
    padding: 12px 16px;
    width: calc(100% - 32px);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    border-radius: 12px;

    text-align: center;

    font-size: 16px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}