.formblock_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    >h1 {
        font-size: 64px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -4%;

        text-align: center;

        margin-top: 60px;
    }

    >h2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -3%;

        text-align: center;

        margin-top: 29px;
    }

    .formblock_form_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: #151515;
        color: white;

        border-radius: 18px;
        padding: 32px;

        margin-top: 40px;

        width: 440px;
        gap: 24px;

        -webkit-box-shadow: 0px 8px 18px 50px rgba(255, 255, 255, 0.8);
        -moz-box-shadow: 0px 8px 18px 50px rgba(255, 255, 255, 0.8);
        box-shadow: 0px 8px 18px 50px rgba(255, 255, 255, 0.8);

        >h1 {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: -3%;
            text-align: start;

            width: 100%;
        }

        .formblock_form_container__radio_container {
            display: flex;
            justify-content: space-around;
            width: 100%;
            
            border: 2px solid #D5D7DA1A;
            border-radius: 16px;
            >button {
                width: 45%;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: -3%;
                text-align: center;

                border-radius: 14px;

                padding: 8px 16px;
                &:hover{
                    background-color: #D5D7DA1A;
                }
            }
            
        }

        .formblock_form__form {
            display: grid;
            justify-content: center;
            justify-items: stretch;

            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            .formblock_form__form_input_container {
                width: 100%;

                >p {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                }

                .formblock_form__form_input {
                    all: unset;

                    border: 1px solid #D5D7DA0D;
                    border-radius: 10px;
                    padding: 8px 12px;

                    margin-top: 6px;

                    background-color: #D5D7DA0D;

                    width: calc(100% - 24px);
                }
            }

            .formblock_form__form_input_container_1 {
                grid-area: 1 / 1 / 2 / 3;
            }

            .formblock_form__form_input_container_2 {
                grid-area: 2 / 1 / 3 / 2;

                width: calc(100% - 12px);

                margin-top: 16px;
                margin-right: 8px;
            }

            .formblock_form__form_input_container_3 {
                grid-area: 2 / 2 / 3 / 3;

                width: calc(100% - 12px);

                margin-top: 16px;
                margin-left: 8px;
            }

            .formblock_form__form_input_container_4 {
                grid-area: 3 / 1 / 4 / 3;

                width: 100%;

                background-color: white;
                text-align: center;

                color: black;

                height: 48px;

                border-radius: 16px;

                margin-top: 24px;
                padding: 0;
            }
        }

        .cars_animation_container_seamless {
        position: absolute;
        z-index: -1;
        width: 100%;
        overflow: hidden;
        display: flex;
        
        .carouselSeamless {
            display: flex;
            animation: scrollSeamlessRight 25s linear infinite;
        }
        
        .carImageSeamless {
            width: 355px;
            height: auto;
            margin-right: 40px;
            flex-shrink: 0;
        }
        }

        // Анимация движения ВПРАВО для простого варианта
        @keyframes scrollHorizontalRight {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
        }

        // Анимация движения ВПРАВО для бесшовного варианта
        @keyframes scrollSeamlessRight {
        0% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(0);
        }
        }
    }
}