.overflow {
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;

    .container {
        width: 1440px;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        color: #ffffff;
        padding-top: 100px;
        .info_container {
            display: flex;
            flex-direction: column;
            width: 180px;

            >h1 {
                font-size: 22px;
                margin-bottom: 10px;
            }

            >a {
                all: unset;
                cursor: pointer;
            }
        }
    }
}