.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: black;
    gap: 50px;
    color: #ffffff;
    padding-top: 100px;
    .info_container {
        display: flex;
        flex-direction: column;
        width: 180px;

        >h1 {
            font-size: 22px;
            margin-bottom: 10px;
        }

        >a {
            all: unset;
            cursor: pointer;
        }
    }
}