.container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    width: 1440px;

    .description_button {
        border-radius: 16px;
        padding: 8px 12px;
        background-color: #E7E9EC;
        width: 85px;
        text-align: center;
    }

    .title_container {
        display: flex;
    }

    .services_container {
        display: flex;
        flex-direction: row;

        .service_1 {
            width: 50%;
            .service_1_discription {
                background-color: #E8EAEC;
            }
        }

        .service_2 {
            width: 50%;
            .service_2_discription {
                background-color: #0F0E0C;
            }
        }
    }
}