.container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    width: 1440px;

    margin-bottom: 157px;

    .description_button {
        border-radius: 16px;
        padding: 8px 12px;
        background-color: #E7E9EC;
        width: 85px;
        text-align: center;
    }

    .title_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 14px;

        >h1 {
            width: 50%;
            font-size: 40px;
            font-weight: 500;
            letter-spacing: -3%;
            line-height: 45px;
        }

        >h2 {
            width: 50%;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: -4%;
            line-height: 20px;
        }
    }

    .services_container {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .icon_box {
            position: absolute;
            right: 48px;
            bottom: 48px;
        }

        .service_1 {
            position: relative;
            width: 50%;
            background-color: #E8EAEC;
            padding: 48px;

            border-radius: 16px;


            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            >h3 {
                grid-area: 1 / 1 / 2 / 2;

                font-size: 38px;
                font-weight: 600;
                letter-spacing: -4%;
                color: #4B4B4D;
            }

            >h4 {
                grid-area: 2 / 1 / 3 / 2;

                font-size: 16px;
                font-weight: 500;
                letter-spacing: -4%;
                color: #4B4B4D;
            }

            >h5 {
                grid-area: 1 / 2 / 2 / 3;

                font-size: 64px;
                font-weight: 400;
                letter-spacing: -4%;
                color: #4B4B4D;
            }
        }

        .service_2 {
            position: relative;
            width: 50%;
            background-color: #0F0E0C;
            padding: 48px;

            border-radius: 16px;

            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            >h3 {
                grid-area: 1 / 1 / 2 / 2;

                font-size: 38px;
                font-weight: 600;
                letter-spacing: -4%;
                color: #D5D7DA;
            }

            >h4 {
                grid-area: 2 / 1 / 3 / 2;

                font-size: 16px;
                font-weight: 500;
                letter-spacing: -4%;
                color: #D5D7DA;
            }

            >h5 {
                grid-area: 1 / 2 / 2 / 3;

                font-size: 64px;
                font-weight: 400;
                letter-spacing: -4%;
                color: #D5D7DA;
            }
        }
    }
}