.container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    width: 1440px;

    margin-bottom: 152px;

    .discription_view {
        width: 85px;
        border-radius: 16px;
        padding: 8px 12px;
        background-color: #E7E9EC;
    }

    >h1 {
        font-size: 40px;
        font-weight: 500;
        letter-spacing: -4%;
    }

    .specifications_view {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 60px;

        .specification_container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .specification_icon {
                width: 100%;
                height: 104px;
            
                margin-bottom: 14px;
                >img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            >h1 {
                font-size: 18px;
                font-weight: 600;
                letter-spacing: -3%;
                text-align: center;
            }
        }
    }
}