.container {
    .discription_view {

    }

    .specifications_view {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 60px;

        .specification_container {
            .specification_icon {
                width: 100%;
                height: 104px;
            
                >img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            >h1 {
                font-size: 18px;
                font-weight: 600;
                text-align: center;
            }
        }
    }
}