@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_opsz.ttf"), format('ttf');
}


// Переменные
:root {
  // Цвета
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --bg-color: #ffffff;
  --text-color: #070000;
  --text-color-dg: #ffffff;
  
  // Шрифты
  --font-family-primary: 'Inter', sans-serif;
  // --font-family-heading: 'Georgia', 'Times New Roman', serif;
  
  // Размеры
  --container-max-width: 1200px;
  --border-radius: 4px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  // Отступы
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  
  // Breakpoints
  --breakpoint-mobile: 576px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 992px;
  --breakpoint-large: 1200px;
}

// Сброс стилей
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Базовые стили для HTML и body
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-primary);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
}

button {
  all: unset;

  cursor: pointer;
  font-size: 14px;
  padding: 12px 16px 12px 16px;
}

body::-webkit-scrollbar { 
  display: none;
}