.overflow_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 32px;

    background-color: black;
    color: #FFFFFF;
    width: 100vw;

    padding: 75px 0px;

    .reviews_button {
        border-radius: 16px;
        padding: 8px 12px;
        background-color: #E7E9EC33;
        width: 85px;
        text-align: center;
    }

    >h1 {
        text-align: center;

        font-size: 40px;
        font-weight: 500;

        letter-spacing: -4%;
        line-height: 55px;
    }
}